<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PinglunMapper">
    <insert id="addPinglun" parameterType="com.entity.Pinglun" >
        insert into pinglun (img,replyName,beReplyName,content,time,pinglunObj) values (#{img},#{replyName},#{beReplyName},#{content},#{time},#{pinglunObj})
    </insert>
<select id="getAllPinglun" resultType="com.entity.Pinglun">
    select * from pinglun
</select>
    <select id="getPinglunByPetName" parameterType="String" resultType="com.entity.Pinglun" >
        select pinglun.* from pinglun,pet where pet.petName=pinglun.pinglunObj and pet.petName=#{pet.petName}
    </select>
</mapper>